= provide(:title, "Edit Wallpaper | Eyedealist")

#edit_page.col-md-8.col-md-offset-2
	.row
		.panel.panel-default
			.panel-heading
				%h1 Editing Wallpaper
			.panel-body
				.current_image
					%strong.center Current Wallpaper:
					= image_tag @wallpaper.image.url(:thumb)
				= render 'form'
