= provide(:title, "Videos | Eyedealist")

%header.codrops-header
	= image_tag "videos_sm.png"

%section.container
	#pins.transitions-enabled
		- @videos.each do |video|
			.box.panel.panel-default.col-md-4.video-fix
				%iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :src => "http://www.youtube.com/embed/"+video.link, :title => "YouTube video player", :width => "405", :height => "272"}
				- if user_signed_in?
					.btn-group
						= link_to "Edit", edit_video_path(video), class: "btn btn-default"
						= link_to "Delete", video_path(video), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
						%br
						%br
%br
%br
